@import"https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";


.reach i{
font-size: 100px;
color: red;
padding: 13px;
}

.reach i:hover{
    font-size: 100px;
    color: blue;
    padding: 13px;
    border-radius: 100px solid green;
}

i{
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: cursive;
}
 /* index styling */

/* header styling */

.navbar-brand img{
    padding: 5px;
}

.hero-img{
    height: 500px !important;
    width: 100% !important;
}

/* hero style */



/* main image styling */
.main img{
    height: 400px;
}

.abt-us img{
    height: 500px !important;
    filter: drop-shadow(150%);
    filter:brightness(20%);
    filter:contrast(300%);
    filter: blur(8px) !important;

}

.abt-us p{
    font-weight: bolder;
    font-size: x-large;
    color:  black !important;
    filter:brightness(300%);
    filter:contrast(350%);
    border: 1px solid red;

}

.abt-u{
    display: none;
}

.abt-u{
    display: contents;
}

.abt-p{
    display: none;
}




/* end of index styling */

/* start of about styling */


.para-one, .para-two, .para-three, .para-four, .para-five{
    height: fit-content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* .para-one, .para-two, .para-three, .para-four, .para-five p{
    font-size:26px;
} */


.parallax-one {
  /* The image used */
  background-image: url("../image/clay-banks-GX8KBbVmC6c-unsplash\(R3X3UdhU4Tx\)\(JSUIlUSMQEc\).jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-two {
  /* The image used */
  background-image: url("../image/neonbrand-zFSo6bnZJTw-unsplash\(A8txXpDIAb9\)\ \(1\)\(v4E5fem6Sn5\).jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-three {
  /* The image used */
  background-image: url("../image/vasily-koloda-8CqDvPuo_kI-unsplash\(yta8330CZPB\)\(ldsUqrtqUXl\).jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-four {
  /* The image used */
  background-image: url("../image/shubham-sharan-Z-fq3wBVfMU-unsplash\(rdCAjHD46uD\)\ \(1\)\(ckQx68m4GG0\).jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-five {
    /* The image used */
    background-image: url("../image/clay-banks-GX8KBbVmC6c-unsplash\(R3X3UdhU4Tx\)\(JSUIlUSMQEc\).jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .team{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(225px, 1fr));
	grid-gap: 2px;
  }

  .partner-logo img{
      height: 200px;
      width: 200px;
      padding: 10px;
  }

  .partners{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(225px, 1fr));
	grid-gap: 2px;
  }

  .member img{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   padding: 10px;
}
  /* contact styling */

  .customer-care {
    /* The image used */
    background-image: url("../image/neonbrand-zFSo6bnZJTw-unsplash\(A8txXpDIAb9\)\ \(1\)\(v4E5fem6Sn5\).jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .care{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(225px, 1fr));
	grid-gap: 2px;
    justify-content: center;
    text-align: center;
  }

  .care i{
    font-size: 100px;
    color: #fff;
    padding: 13px;
    }

    .message-form2{
        display: none;

    }


  
/* end of c6ntact styling */

.contact-img img{
    height: 584px;
}


.foot3 a{
    color: #fff !important;
}



/* media query styling */
@media (max-width: 768px){

    .begin{
        display: none;
    }

    
/* ndex styling */
    .two, .three{
        margin-top: 20px !important;
    }



    .img-1{
        height: 300px !important;
        width: 100% !important;
    }

    .main img{
        height: 200px !important;
        padding: 10px;
    }

    .main h4{
        font-size: 18px;
    }

    .main h5{
        font-size: 16px;
    }


    .abt-us img{
        height: 400px !important;
    }

    .abt-u{
        display: contents;
    }

    .abt-p{
        display: none;
    }

    .abt-u p{
        font-style: oblique;
        background: #0d6efd;
        font-size: large;
        color:  white !important;
        border: none;
        /* padding: 25px; */
    
    }

    .form-control{
        overflow: hidden;
    }

    footer a{
        color: white !important;
    }



    /* end of index styling */


    /* contact styling */
    .care2{
        display: none;
    }

    .message-form{
        width: 100% !important;
    }

    .message-form1{
        display: none;
    }

    .message-form2{
        display: block;
    }




    /* end of contact styling */










}
