*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: cursive;
}


/* header styling */

.hero-img{
    height: 500px !important;
    width: 100% !important;
}

/* hero style */



/* main image styling */
.main img{
    height: 400px;
}

.abt-img img{
    border-radius: 100% !important;
}

.job{
    border: 1px solid black !important;
    border-radius: 10px;
    margin: 50px !important;
    overflow: hidden;
}

.bost{
    padding: 20px !important;
}




/* media query styling */
@media (max-width: 768px){

    .job{
        border: 1px solid black !important;
        border-radius: 10px;
        margin: 0 !important;
        overflow: hidden;
    }



    .img-1{
        height: 300px !important;
        width: 100% !important;
    }

    .main img{
        height: 200px !important;
        padding: 10px;
    }

    .main h4{
        font-size: 18px;
    }

    .main h5{
        font-size: 16px;
    }
    }
